
/* general */

p{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3{
  color: #ffdc00;
  text-align: left;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  position:relative;
}

  /* background color */
main{
  background: linear-gradient(to bottom , #f0f6ff 30%, transparent 0);
}

/* section */

  /* Background image*/
  .bg{
    background-image: url(../img/pagehorscourse/bgphc.png);
    background-repeat: no-repeat;
    background-position: 70% -5%;
  }

  /* Fil d'ariane */

    /* FA */

    .imgbtr{
      margin-right: 3rem;
    }

    .fa{
      text-align: center;
      align-items: center;
      display: flex;
      margin-bottom: 1rem;
    }

    .imgfd{

    }

  /* Titre + icone */
  .ti{
    background-color: #38435c;
    display: flex;
    }

    /* Titre */
    /* .titre{
      width: 70%;
      length: 100%;
      color: #ffdc00;
      text-align: left;

    } */

    /* icone */
    /* .icone{
      background-color: #ffdc00;
      color: #38435c;
      width: 170px; */
      /* height: 170px; */
      /* border-bottom: solid 2px #38435c;
      padding-bottom: 50px; */
    }

    .licone{

    }

  /* 1er Image */
  .img1{
    width: 100%;
    margin-top: 2rem;
  }

  /* Paragraphe en bold */
  .parab{
    font-weight: bold;
  }

  /* 2eme image */
  .img2{
    width: 100%;

  }

  /* Reseaux sociaux */
  .res{
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-top: .5rem;
    align-items: center;
  }

  .tres{
    padding-top: 1rem;
  }
