/* feuille de style */

*{
	/* Gestion de la taille des blocs */
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;	

	/* Suppression des marges */
    padding: 0;
    margin: 0;

}


html{
	/* Configuration des rem, 1rem = 10 px */
	font-size: 62.5%;
	background-color: grey;
}

h2{
	font-family: 'Nunito', sans-serif;
}

h3{
	font-family: 'Montserrat', sans-serif;
}