/* feuille de style */

*{
  box-sizing:border-box;
  padding : 0px;
	margin-block-start:0em;
	margin-block-end:0em;
}
html{
  font-size: 62.5%;
  background-color: grey;
}

body {
	font-family: 'Montserrat', sans serif;
}

main section {
	padding: 2rem;
}
main section:nth-child(even) {
	background-color: #f2f2f2;
	margin: 0;
}

main section:nth-child(odd) {
	background-color: #FAFAFA;
	margin: 0;
}