/* feuille de style */
*{
	/* Gestion de la taille des blocs */
 	box-sizing:border-box;
	padding : 0px;
	margin-block-start:0em;
	margin-block-end:0em;

	/* Suppression des marges */
    padding: 0;
    margin: 0;
}

html{
	/* Configuration des rem : 1rem= 10px;*/
	font-size: 62.5%;
	background-color: grey;
}

body {
	font-family: 'Montserrat', sans serif;
	width: 100%;
	margin: 0 auto;
}



main section {
	padding: 3rem;
	display: flex;
}
main section:nth-child(even) {
	background-color: white;
}

main section:nth-child(odd) {
	background-color: #FAFAFA;
}

.sectionProchainesCourses .container{
	display: flex;

}

.container{
	text-align: left;
	width: 50%;
	margin: auto;
}

.container article{
	flex : 1;
	justify-content: space-between;

}

ul li {
	list-style: none;
}

a {
	text-decoration: none;

}

